<form [formGroup]="schemaForm" class="py-6">
  <div formArrayName="objects" class="py-2">

    <div class="flex justify-between items-center">
      <h1 class="mt-6 text-2xl font-semibold">Define your object</h1>
      <button (click)="openPreview()" mat-flat-button style="max-height: fit-content;" color="warn">Preview</button>
    </div>

    <div
      *ngFor="
        let objects of schemaObjectsArray.controls as FormGroup;
        let i = index
      "
    >
      <div [formGroup]="schemaObject(i)" class="py-4">
        <div class="py-4">
          <mat-form-field appearance="fill">
            <mat-label>Object name</mat-label>
            <input
              matInput
              autocomplete="off"
              formControlName="name"
              #objectName
            />
          </mat-form-field>

          <div class="bg-gray-100 px-4 mt-4">
            <h1 class="mt-8 text-2xl font-semibold">Object fields</h1>

            <div class="mt-12" formArrayName="fields">
              <div
                *ngFor="
                  let fields of objectFieldFormArray(i).controls;
                  let fieldIdx = index
                "
              >
                <div [formGroup]="objectField(i, fieldIdx)">
                  <mat-form-field appearance="fill">
                    <mat-label>Field name</mat-label>
                    <input
                      matInput
                      autocomplete="off"
                      formControlName="name"
                      #objectName
                    />
                  </mat-form-field>

                  <mat-form-field appearance="fill">
                    <mat-label>Field type</mat-label>
                    <mat-select formControlName="type">
                      <mat-option
                        *ngFor="let scalar of scalars | keyvalue"
                        [value]="scalar.value.name"
                        >{{ scalar.key }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div>
                <button
                  class="my-4"
                  mat-raised-button
                  (click)="addFieldToObjectFieldArray(i)"
                >
                  Add Field
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button mat-raised-button (click)="addObjectType()">Add Object</button>
    </div>
  </div>

  <button
    mat-raised-button
    [disabled]="!schemaForm.valid"
    (click)="printFormValue()"
  >
    Create
  </button>


</form>
