<mat-toolbar color="primary" style="min-height: 80px;">
    <div class="container mx-auto flex justify-between">

      <p class="pb-0 mb-0 text-xl font-bold"> {{ title }} </p>

      <app-nav *ngIf="!showSideNav"></app-nav>

      <div *ngIf="showSideNav" class="flex-auto flex justify-end">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon [inline]="true">menu</mat-icon>
        </button>
      </div>

    </div>

</mat-toolbar>

<mat-drawer-container>

  <!-- Mobile nav -->
  <mat-drawer #drawer [mode]="'over'">
    <app-nav (closeNav)="drawer.close()" [align]="'vertical'"></app-nav>
  </mat-drawer>

  <mat-drawer-content class="">

    <div class="h-full container mx-auto">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>

</mat-drawer-container>


<app-footer></app-footer>

