<mat-toolbar color="primary">
    <div class="container mx-auto flex">

      <p class="pb-0 mb-0"> {{ title }} </p>

      <app-nav *ngIf="!showSideNav"></app-nav>

      <div *ngIf="showSideNav" class="flex-auto flex justify-end">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon [inline]="true">menu</mat-icon>
        </button>
      </div>

    </div>

</mat-toolbar>

<mat-drawer-container>

  <mat-drawer #drawer [mode]="'over'">
    <app-nav [align]="'vertical'"></app-nav>
  </mat-drawer>

  <mat-drawer-content class="">

    <div class="container mx-auto">
      <router-outlet></router-outlet>
    </div>

  </mat-drawer-content>

</mat-drawer-container>


<app-footer></app-footer>

