
<mat-stepper [linear]="true" class="h-full" orientation="vertical" #stepper>

  <mat-step [completed]="isDescriptorFormValid" label="Descriptor">
    <app-graphql-descriptor [(descriptor)]="descriptor" (stepNext)="stepper.next()" (validForm)="onValidDescriptorForm($event)"></app-graphql-descriptor>
  </mat-step>

  <mat-step [completed]="isSchemaValid" label="Schema" class="h-full">
    <ng-template matStepContent>
      <app-graphql-schema-editor [(schema)]="schema" (isSchemaValid)="onValidSchema($event)"></app-graphql-schema-editor>
    </ng-template>
  </mat-step>

  <mat-step [completed]="isMappingsValid" label="Mappings">
    <ng-template matStepContent>
      <app-graphql-mappings [(mappings)]="mappings" (stepNext)="onMappingsNext()" (isMappingsValid)="onValidMappings($event)"></app-graphql-mappings>
    </ng-template>
  </mat-step>

  <mat-step label="Done!">
    <ng-content></ng-content>
  </mat-step>

</mat-stepper>
